<h1>Edit Comment</h1>

<%= form_for [@post, @comment] do |f| %>

  <p><em><small>Click button again to cancel</small></em></p>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :photo_url, "Add photo url (optional)" %><br>
    <%= f.text_field :photo_url %>
    <% unless @comment.photo_url == "" %>
      <p>
        <img src=<%= @comment.photo_url %> alt="">
      </p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Update Comment / Return to Main Posts Page" %>
  </div>

<% end %>
