<h1>List of Comments</h1>

<table>
  <thead>
    <tr>
      <th>Post ID</th>
      <th>Comment ID</th>
      <th>Commenter ID</th>
      <th>Commenter Screen Name</th>
      <th>Date</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment|  %>
      <tr>

        <td><%= comment.post_id %></td>

        <td><%= comment.id %></td>

        <td><%= comment.user_id %></td>

        <td><%= comment.user.nickname %></td>

        <td><%= comment.updated_at %></td>


        <td> <%= link_to "Delete this comment", post_comment_path(@post, comment.id), method: :delete, data: {confirm: "Are you sure you want to delete this comment?"} %> </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add new comment", new_post_comment_path %>

<br>
